.form--field {
    margin: 10px;
    padding: 5px;
}

.dateApplied {
    display: flex;
    flex-wrap: wrap;
    
}

.submissionContainer {
    border: 1px solid lightgray;
}

.submission__form {
    border: 1px solid lightgray;
    margin: 10px;
}

.submission__list {
    border: 1px solid lightgray;
    margin: 10px;
}


