.logo {
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: auto;
}



.mainContainer {
    width: 450px;
    margin: auto;
}

label {
    margin-right: 30px;
}


