.headerContainer {
    display: block;
    margin: auto;
    width: 450px;
}

.logo {
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
    margin: auto;
}

.mainContainer {
    width: 450px;
    margin: auto;
}

.submissionContainer {
    width: 450px;
}

.interviewContainer {
    width: 450px;
}

.logout {
    margin: auto;
    margin-top: 20px;
    width: 450px;
}

.navBar {
    color: teal;
    margin: auto;
    width: 435px;
}

NavLink {
    color: #23b0b6;
}


