.imgOne {
    background-image: url(interview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 25px auto;
}

.imgTwo {
    background-image: url(article1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 25px auto;
}

.imgThree {
    background-image: url(confidence.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 250px;
    margin: 25px auto;
}

.resources__img {
    display: block;
    margin: auto;
    width: 400px;
}

.link {
    width: 65%;
}

.source {
    font-style: italic;
    width: 35%;
}

.resources__header {
    margin: 10px auto 20px auto;
    text-align: center;
}

.form--heading {
    color: #23b0b6;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}


.resourcesPage {
    border: 1px solid lightgray;
    margin: 30px 10px;
    padding: 5px;
}