.logo {
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 525px;
    height: 525px;
    margin: auto;
}

.authContainer {
    margin: auto;
    width: 525px;
}

.loginContainer {
    margin-bottom: 50px;
}
